Auditorias/Connected Services/ProxyServicio/ServicioWCF31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ServidorNegocio/ServicioWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/prueba" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarCarro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/prueba" minOccurs="0" name="carro" nillable="true" type="q1:Carro" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/prueba" minOccurs="0" name="fabricante" nillable="true" type="q2:Fabricante" />
        <xs:element minOccurs="0" name="parametro2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parametro3" type="xs:int" />
        <xs:element minOccurs="0" name="parametro4" type="xs:dateTime" />
        <xs:element minOccurs="0" name="parametro5" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarCarroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardarCarroResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>